{%extends "base.html" %}  
<!-- number of spaces between keywords don't matter for jinja templates -->

{% block content%}
    <h1>Game Market</h1>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}  <!-- Used by WTF form to generate a security token that provides security -->
        Total Money:{{form.money}}
        <p>
            {{ form.Item_Spice.label}}<br>
            {{ form.Item_Spice}}
        </p>
        <!-- <p>
            {{ form.Item_Robots.label + ' ' + form.Item_Robots.description}}<br>
            {{ form.Item_Robots}}
        </p>
        <p>
            {{ form.Item_Crystals.label}}<br>
            {{ form.Item_Crystals}}
        </p> -->
    


        <p>{{ form.submit()}} </p>
    </form>

{%endblock%}